/* my CoolSite CSS page */

/* my CoolSite CSS variables*/
:root {

  --cool-green: #FAFD61;
  --cool-blue: #1C4BC4;
  --cool-dark-blue: #061130;
  --cool-white: white;
  --cool-grey: #F4F6F8;
}

/* element selectors */
/*  Possible element selectors in the current html file
h1 {}
h2 {}
p {}
ul {}
li {}
a {} 
img {}
*/
body {
  background-color: var(--cool-dark-blue);
  color:var(--cool-white);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}
header {
  display: flex;
  justify-content: space-between;
}
main {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
footer {
  background-color: var(--cool-grey);
  color: var(--cool-dark-blue);
}
nav {
  display: flex;
  margin: 1rem;
}

h6 {
  color: var(--cool-green);
}

nav li a {
  text-decoration: none;
}
/* class selectors */
/* Possible class selectors for the current html file 
*/
.top-nav {
  display: flex;
}
.top-nav-link {
  list-style-type: none;
  
  margin: 1em;
}
nav.bottom-nav li a {
  color: var(--cool-white);
}
.main-text {
  max-width: 20%;
}
.bottom-nav {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--cool-white);
  color: var(--cool-dark-blue);
  max-height: 20%;
}
.bottom-nav-link {
  list-style-type: none;
  margin: 1em;
}
nav.bottom-nav li a {
  text-decoration: none;
  color: var(--cool-blue);
}
nav.bottom-nav li a:hover {
  text-decoration: underline;
}

.footer-declaration {
  text-align: center;
}
.world-img {
  max-width: 40%;
}
.logo {
  margin: 1rem;
}
/* id selectors */
/* Possible id selectors for the current html files 
*/
#letsChat {
  background-color: var(--cool-blue);
  color: var(--cool-white);
  padding: 4px 6px;
  border: 2px solid var(--cool-blue);
  border-radius: 10%;
}

/* fancy selectors */
/* I Don't expect to Use Fancy Selectors ever.... well maybe like an :nth-child(even) selector */